<f:if condition="{0:'{fblike}',1:'{twitter}',2:'{googleplus}'} == {0:'',1:'',2:''}">
	<f:then>
	</f:then>
	<f:else>
		<div class="container">
			<div class="col_12">
				<div class="pageSocials">
					<f:if condition="{fblike}">
						<f:then>
							<span class="item">
								<script src="https://connect.facebook.net/de_DE/all.js#xfbml=1"></script>
								<script type="text/javascript">
								/*<![CDATA[*/
									FB.Event.subscribe('edge.create', function(targetUrl) {
									 	_gaq.push(['_trackSocial', 'facebook', 'like', targetUrl]);
									});
									FB.Event.subscribe('edge.remove', function(targetUrl) {
									  _gaq.push(['_trackSocial', 'facebook', 'unlike', targetUrl]);
									});
								/*]]>*/
								</script><div id="fb-root"></div><fb:like href="{pageURL}" layout="button_count"></fb:like>
							</span>
						</f:then>
					</f:if>
					<f:if condition="{twitter}">
						<f:then>
							<span class="item">
								<a href="https://twitter.com/share" class="twitter-share-button">Twitter</a>
								<script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
								<script type="text/javascript">
								/*<![CDATA[*/
									twttr.events.bind('tweet', function(event) {
									  if (event) {
									    var targetUrl;
									    if (event.target && event.target.nodeName == 'IFRAME') {
									      targetUrl = extractParamFromUri(event.target.src, 'url');
									    }
									    _gaq.push(['_trackSocial', 'twitter', 'tweet', targetUrl]);
									  }
									});
								/*]]>*/
								</script>
							</span>
						</f:then>
					</f:if>
					<f:if condition="{googleplus}">
						<f:then>
							<span class="item">
								<script src="https://apis.google.com/js/platform.js" async defer></script>
  								<g:plusone></g:plusone>
							</span>
						</f:then>
					</f:if>
				</div>
			</div>
		</div>
	</f:else>
</f:if>