$color_h1:rgb(150, 189, 13);
$h2Color:rgb(150, 189, 13);
$h3Color:rgb(150, 189, 13);
$h4Color:#333;
$h5Color:#333;
$blockquote:#636363;

$link:rgb(150, 189, 13);
$linkhover:rgb(150, 189, 13);
$boxedLink:rgb(255,255,255);
$boxedLinkBackground:rgb(150, 189, 13);
$boxedLinkBackgroundHover:rgb(150, 189, 13);

$mediamenutext:#333;
$mediamenuhinttext:rgb(255,255,255);
$mediamenuhintbackground:rgb(150, 189, 13);
$mediamenubackground:rgb(232,236,239);
$mediamenuborder:rgb(189, 191, 193);

$overlayboxbackground:rgba(150, 189, 13,0.8);

$headerpagetitle:rgb(200,200,200);
$headertext:rgb(255,255,255);
$headerbackground:rgb(255,255,255);

$navbackground:rgb(150, 189, 13);
$navbackgroundactive:rgb(150, 189, 13);
$navbackgroundhover:rgb(150, 189, 13);
$navtext:rgb(150, 189, 13);
$navtexthover:rgb(255,255,255);
$navtextactive:rgb(255,255,255);
$nav2background:rgb(150, 189, 13);
$nav2backgroundhover:rgb(177,245,152);
$nav2backgroundactive:$nav2backgroundhover;

$stripesBefore:rgb(255,255,255);
$stripesMiddle:rgb(150, 189, 13);
$stripesAfter:rgb(255, 255, 255);

$footertext:#333;
$footerbackground:rgb(232, 236, 239);
