{namespace if=Interfrog\IfWhitevita\ViewHelpers}

<f:format.raw>
	{header}
</f:format.raw>
<div class="videoframe" data-ratio="{data.ratio}" {if:videostyles(width:data.imagewidth,height:data.imageheight)}>
	<f:switch expression="{data.sourcetype}">
		<f:case value="iframe">
			<iframe 
				id="videoplayer"
				type="text/html"
				width="{f:if(condition:data.imagewidth,then:data.imagewidth,else:900)}"
				height="{f:if(condition:data.imageheight,then:data.imageheight,else:600)}"
				src="{data.url}"
				frameborder="0"></iframe>
		</f:case>
		<f:case value="vimeo">
			<iframe 
				id="videoplayer"
				type="text/html"
				width="{f:if(condition:data.imagewidth,then:data.imagewidth,else:900)}"
				height="{f:if(condition:data.imageheight,then:data.imageheight,else:600)}"
				src="{if:vimeourl(url: data.url)}?autoplay={data.autoplay}&title={data.showinfo}&loop={data.videoloop}&byline=0&color=ffffff"
				frameborder="0"></iframe>
		</f:case>
		<f:case default="TRUE">
			<iframe 
				id="videoplayer"
				type="text/html"
				width="{f:if(condition:data.imagewidth,then:data.imagewidth,else:900)}"
				height="{f:if(condition:data.imageheight,then:data.imageheight,else:600)}"
				src="{if:youtubeurl(url: data.url)}?autoplay={data.autoplay}&showinfo={data.showinfo}&rel={data.showrel}&loop={data.videoloop}" frameborder="0"></iframe>
		</f:case>
	</f:switch>
</div>